<div class="contentBody text-danger text-center bg-dark">
	<div class="buttonbar">
		<button class="button" id="white" (click) = "hypersSpace('white')">White</button>
		<button class="button" id="blue" (click) = "hypersSpace('blue')">Blue</button>
		<button class="button" id="green" (click) = "hypersSpace('green')">Green</button>
		<button class="button" id="red" (click) = "hypersSpace('red')">Red</button>
		<button class="button" id="random">Randomize</button>
		<button class="buttons" id="stop">Stop</button>
	</div>
	<canvas id="myCanvas"></canvas>
</div>
