<div class="contentBody text-danger text-center">
	<h1>Wanna play a game?</h1>
    <p>I tell you what's gonna be: I think about a number between 1 and 100! You will try to guess it! You will have 10 try! <br> 
        I will even tell you if your guess is low or high! If you can't guess it correctly on the 10th try...well you can restart the game! ;) </p>
	<h2>Let's the Game begin!</h2>
    <div class="guessContainer">
      <p class = "guesses"></p>
      <p class = "lastResult">Last guesses: {{arrayToList(lastGuesses)}}</p>
      <p class = "lowOrHi">{{lowOrHigh}}</p>
      <div class="field" id="field">
        Enter a guess:<input disabled="{{isReadOnly}}" type="number" id="guessField" class="guessField" [(ngModel)]="userGuess">
		<button [ngClass]='{disabled: isReadOnly}' (click)="checkGuess()" class="guessSubmit btn btn-danger">Go</button>
		<button *ngIf="reset" class="btn btn-danger" (click)="resetGame()">Reset</button>
      </div>
    </div>
</div>
